# Ignore node_modules in both frontend and backend
client/node_modules/
server/node_modules/

# Ignore logs and environment files
*.log
.env
*.env.local

# Ignore build files
client/dist/
server/dist/

# Ignore OS and editor stuff
.DS_Store
.vscode/
.idea/

# Ignore debug files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
